* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #FFFFFF;
    color:rgba(26, 39, 21, 1);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 10px;
    font-weight: normal;
    /* font-family: Gelasio, serif; */
}

.container {
    max-width: 1440px;
    margin: auto;
    box-shadow: 0px 21.7297px 48.8919px rgba(0, 0, 0, 0.15);
}

h1 {
    font-family: Gelasio, serif;
    font-weight: 600;
    font-size: 5.7rem;
    line-height: 150%;
}

h2 {
    font-family: Gelasio, serif;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 150%;
}

h3 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2.0rem;
    line-height: 150%;
}

.contact-link, .company_name, .project-list, .course_name, .git-info, .rsschool-link {
    transition: all 0.3s ease 0s;
}

.contact-link:hover {
    text-decoration: underline;
}

.rsschool-link:hover:hover {
    transform: scale(1.2);
}

.company_name:hover, .courses-link:hover, .git-link:hover {
    font-weight: 500;
}

.project-pic1:hover, .project-pic2:hover, .project-pic3:hover, .project-pic4:hover {
    box-shadow: 0px 21.7297px 48.8919px rgba(0, 0, 0, 0.15);
}

/* HEADER */
.header {
    background-color: rgba(126, 152, 139, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo {
    background: url(../img/Photo17-min.jpg) center no-repeat;
    background-size: cover;
    width: 330px;
}

.profile-info, .wrapper2 {
    padding: 70px 69px;
    max-width: 1110px;
}

.name {
    margin-bottom: 50px;
}

.name h1 {
    margin-bottom: 14px;
}

.about {
    font-size: 2rem;
    line-height: 160%;
    /* or 29px */
}

/* MAIN */
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #567063; 
}

.wrapper1 {
    color: #FFFFFF;
    padding: 70px 40px;
    max-width: 330px;
}

.contacts,
.education,
.skills,
.achievements,
.experience {
    margin-bottom: 70px;
}

.text-header {
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: 2px solid #FFFFFF;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    margin-bottom: -5px;
}

.contact-icon {
    margin: auto;
}

.contact-info img {
    display: block;
}

.contact-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.6rem;
}

.contact-info,
.education-list,
.skills-content,
.skills-list,
.achievements,
.languages-list,
.experience-list,
.development-list,
.git-info {
    font-size: 1.6rem;
    line-height: 150%;
}

.linkedin {
    padding-bottom: 4.5px;
}

.education-list {
    margin-bottom: -5px;
}

.education-item {
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 5px;
    margin-bottom: -5px;
    margin-bottom: 5px;
}

.education-link {
    text-decoration: none;
    color: #FFFFFF;
}

.skills {}

.skills-content {
    margin-bottom: 10px;
}

.skills-list {
    margin-bottom: -5px;
}

.skills-item {
    list-style-type: none;
    margin: 5px 0;
    display: flex;
}

.skill-icon {
    margin-right: 5px;
    padding-top: 2px;
}

.languages-list {
    list-style-type: disc;
    margin-left: 10px;
}

.wrapper2 {
    background-color: #FFFFFF;
}

.wrapper2 .text-header {
    border-bottom: 2px solid #B3B0A7;
    font-weight: 500;
}

.experience-item, .development-item {
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-rows: auto;
    column-gap: 30px;
    margin-bottom: 20px;
}

.development-list {
    margin-bottom: -40px;
}

.experience-dates, .development-dates {
    margin-bottom: 5px;
}

.job-link, .courses-link {
    text-decoration: none;
    color:rgba(26, 39, 21, 1);
}

.position, .course-name {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
}

.project-pic1 {
    background: url(../img/Desktop.jpg) center no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}

.project-pic2 {
    background: url(../img/Desktop2.jpg) center no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}

.project-pic3 {
    background: url(../img/Desktop3.jpg) center no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}

.project-pic4 {
    background: url(../img/Desktop4.jpg) center no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}

/* FOOTER */
.footer {
    background-color: #3E5141;
    padding: 52px 73px 52px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.git-link {
    text-decoration: none;
    color:rgba(26, 39, 21, 1);
    font-size: 1.6rem;
}

@media screen and (max-width: 1439px) {
    .container {
        max-width: 1439px;
        margin: 0;
        box-shadow: none;
    }

    .header {
        flex-wrap: nowrap;
        justify-content: unset;
    }

    .photo {
        width: 575px;
        height: 870px;
    }

    .profile-info {
        max-width: 580px;
        margin: auto;
    }

    .wrapper1 {
        max-width: 1439px;
    }

    .contact-info {
        grid-template-columns: auto 1fr;
    }

    .education-item {
        grid-template-columns: auto 1fr;
    }

    .wrapper2 {
        max-width: 1439px;
    }

    .profile-info, .wrapper2 {
        padding: 70px 40px;
    }

    .project-list {
        justify-content: flex-start;
        margin-bottom: -10px;
    }

    .project-item {
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 1023px;
    }

    .profile-info {
        max-width: 418px;
    }
    .wrapper1 {
        max-width: 1023px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 767px;
    }

    .photo {
        width: 767px;
        height: 1150px;
    }

    .profile-info {
        max-width: 767px;
    }

    .header {
        flex-wrap: wrap;
    }

    .wrapper1 {
        max-width: 767px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        max-width: 575px;
    }

    .photo {
        width: 575px;
        height: 870px;
    }

    .header {
        flex-wrap: wrap;
    }

    .wrapper1 {
        max-width: 575px;
    }
}